<section>
    <header class="navHome">
        <nav>
            <ul>
                <li>
                    <a>Home</a>
                </li>
                <li>
                    <a>Empleados</a>
                </li>
                <li>
                    <a>Clientes</a>
                </li>
                <li>
                    <a>Proveedores</a>
                </li>
                <li>
                    <a>Articulos</a>
                </li>
                <li>
                    <a>Compras</a>
                </li>
                <li>
                    <a>Ventas</a>
                </li>
                <li>
                    <a>Inventario</a>
                </li>
                <li>
                    <a>Cierre Diario</a>
                </li>
            </ul>
        </nav>
    </header>
</section>