<section>
    <header class="navHome">
        <nav>
            <ul>
                <li ui-sref="home">
                    <a ><span class="glyphicon glyphicon-home btnHome"></span></a>
                </li>
                <li ui-sref="home.employees">
                    <a>Empleados</a>
                </li>
                <li ui-sref="home.clients">
                    <a>Clientes</a>
                </li>
                <li ui-sref="home.providers">
                    <a>Proveedores</a>
                </li>
                <li ui-sref="home.items">
                    <a>Articulos</a>
                </li>
                <li ui-sref="home.purchase">
                    <a>Compras</a>
                </li>
                <li>
                    <a>Ventas</a>
                </li>
                <li ui-sref="home.inventory">
                    <a>Inventario</a>
                </li>
                <li>
                    <a>Cierre Diario</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="container onMenuSection">
        <div ui-view></div>
    </section>
</section>